* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
	display: flex;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index) * 2.0);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -20.0), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}

.main-article__header2 {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	transition: var(--transition);
	will-change: transform;
}

.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .6);
	margin-top: calc(var(--index) / 1.);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	
}

.main-article__paragraph2 {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .6);
	margin-top: calc(var(--index) / 1.);
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
	transition: var(--transition);
	will-change: transform;
}

.content {
	position: relative;
	will-change: transform;
}

.copy {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 100px;
	left: 10px;
	z-index: 2;
	overflow: hidden;
	max-width: fit-content;
	max-height: fit-content;
}

i:hover {
	text-shadow: 0 0 10px white;
}

.btn {
	padding: 10px;
	font-size: 42px;
}

.btn1 {
	color: #3b5998;
}

.btn2 {
	color: #2aabee;
}

.btn3 {
	color: #bc1888;
}

.clouds {
    position: relative;
    width: 100%;
	z-index: 11;
	background: none;
}

.clouds .fog img {
    position: absolute;
    bottom: 0px;
    width: 100%;
    filter:blur(3px);
    animation: anim calc(7s*var(--stork)) linear infinite;
	height: 150px;
}

@keyframes anim {
    0%{
        opacity: 0.8; 
        transform: scale(1);
    }
    20% {
        opacity: 0.7; 
    }
	50%{
		opacity: 0.6; 
		transform: scale(2);
    }
	
	80%{
		opacity: 0.7; 
    }
    100%{
        opacity: 1; 
        transform: scale(3);
    }
}

@media (min-width: 280px) {
	
	.copy {
		position: fixed;
		bottom: 5%;
		top: 60%;
		font-size: 50%;
	}

	.btn {
		padding: 10px;
		font-size: 30px;
	}

	.clouds .fog img {
		max-height: 50px;
		bottom: -40px;
	}

	.main-article__paragraph2{
		font-size: 8px;
	}

	.main-article__paragraph{
		font-size: 8px;
	}
}

@media (min-width: 360px) {
	
	.copy {
		position: fixed;
		bottom: 5%;
		top: 60%;
		font-size: 50%;
	}

	.btn {
		padding: 10px;
		font-size: 30px;
	}

	.clouds .fog img {
		max-height: 50px;
		bottom: -40px;
	}

	.main-article__paragraph2{
		font-size: 10px;
	}

	.main-article__paragraph{
		font-size: 10px;
	}
}

@media (min-width: 414px) {
	
	.copy {
		position: fixed;
		bottom: 5%;
		top: 70%;
		font-size: 50%;
	}

	.btn {
		padding: 10px;
		font-size: 30px;
	}

	.clouds .fog img {
		max-height: 50px;
		bottom: -40px;
	}

	.main-article__paragraph2{
		font-size: 12px;
	}

	.main-article__paragraph{
		font-size: 12px;
	}
}

@media (min-width: 540px) {
	.copy {
		position: fixed;
		bottom: 5%;
		top: 70%;
		font-size: 50%;
	}
	.btn {
		padding: 10px;
		font-size: 20px;
	}
	.clouds .fog img {
		max-height: 50px;
		bottom: -40px;
	}
	.main-article__paragraph2{
		font-size: 12px;
	}
	.main-article__paragraph{
		font-size: 12px;
	}
}

@media (min-width: 768px) {
	
	.copy {
		position: fixed;
		bottom: 5%;
		top: 70%;
		font-size: 50%;
	}
	.btn {
		padding: 10px;
		font-size: 40px;
	}

	.clouds .fog img {
		max-height: 100px;
		bottom: -40px;
	}

	.main-article__paragraph2{
		font-size: 15px;
	}

	.main-article__paragraph{
		font-size: 15px;
	}
}
	
@media (min-width: 912px) {
	
	.copy {
		position: fixed;
		bottom: 5%;
		top: 60%;
		font-size: 50%;
	}

	.btn {
		padding: 10px;
		font-size: 25px;
	}

	.clouds .fog img {
		max-height: 100px;
		bottom: -40px;
	}

	.main-article__paragraph2{
		font-size: 18px;
	}

	.main-article__paragraph{
		font-size: 18px;
	}
} 
	
@media (min-width: 1024px) {
	
	.copy {
			position: fixed;
			bottom: 10%;
			top: 50%;
			font-size: 50%;
	}

	.btn {
			padding: 10px;
			font-size: 20px;
	}
		
	.clouds .fog img {
			max-height: 80px;
			bottom: -40px;
	}
		
	.main-article__paragraph2{
			font-size: 10px;
	}
		
	.main-article__paragraph{
			font-size: 10px;
	}
}

@media (min-width: 1280px) {
	
	.copy {
			position: fixed;
			bottom: 5%;
			top: 60%;
			font-size: 50%;
	}
		
	.btn {
			padding: 10px;
			font-size: 30px;
	}
		
	.clouds .fog img {
			max-height: 80px;
			bottom: -40px;
	}
		
	.main-article__paragraph2{
			font-size: 12px;
	}
		
	.main-article__paragraph{
			font-size: 12px;
	}
}
